{
  "singleQuote": false,
  "semi": true,
  "useTabs": false,
  "tabWidth": 4,
  "trailingComma": "es5",
  "printWidth": 120,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["*.ts", ".tsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
